* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

.lb-background-color_button-background, #lb-message-input .left-arrow, .open .keyword-switch, #lb-footer-input-mobile .back-button, #lb-footer-input-mobile .powered-by-text a, #lb-footer-input-mobile .keyword-button, #lb-footer-input-mobile .skip-pause-button, .Card-catalogue_content_attribute::before, .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside), .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
  background-color: #b623b5 !important;
}

.lb-border-color_textarea-border {
  border-color: #b623b5 !important;
}

#lb-messages-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20vh;
}

#lb-footer {
  height: 19vh;
}

.lb-message-text {
  font-family: "Open Sans", sans-serif;
}

.lb-messages-wrapper {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

#scroll-top-fixer {
  display: block;
}

.lb-message.user .lb-message-bubble {
  border-radius: 25px;
  position: relative;
  overflow: visible;
  background-color: #b623b5;
  ;
}

#lb-message-input .left-arrow {
  background-color: #b623b5;
}

.lb-fill_textarea-border, .lb-textarea-heavy .send svg, .lb-textarea-light .send svg, #lb-footer-input-mobile .attach svg {
  fill: #b623b5 !important;
}

.typing-spinner .lb-background-color_accent, #lb-bot-progress-bar::after {
  background-color: #b623b5;
}

.lb-message.brand .lb-message-bubble {
  box-shadow: 0 1px 28px 0 rgba(182, 35, 181, 0.4);
}

.lb-message.user .lb-message-bubble::before {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
  width: 0;
  height: 0;
  right: -8px;
  bottom: 15px;
  border-style: solid;
  border-width: 10px 10px 0 0;
  border-color: #b623b5 transparent transparent transparent;
}

#app-landbot .lb-input-menu .include-image-container {
  height: 60px;
}

#app-landbot .lb-input-menu .include-image-container .include-image {
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

#app-landbot .lb-input-menu .lb-input-menu_button.image .lb-input-menu_button_text {
  padding: 10px 5px 0;
  max-width: 80px;
  min-height: 42px;
  margin: 0 auto;
}

#lb-message-input .lb-input-menu-buttons .lb-input-menu_button {
  padding: 18px;
  border-radius: 35px;
  background-color: #0076fe;
  text-decoration: none;
}

.lb-message-text {
  font-size: 14px;
  letter-spacing: 0.4px;
}

#lb-background {
  display: none;
}

.lb-message-avatar .lb-message-avatar_img {
  display: none;
}

.lb-message-info {
  margin-right: 0;
}

.lb-message-bubble {
  max-width: 100%;
}

#lb-message-input .lb-input-back {
  left: -48px;
}

/* own style */

.landing__txt {
  font-weight: 500;
  font-style: normal;
}

.landing__link {
  position: relative;
}

.logo {
  display: block;
  width: 250px;
  height: 80px;
}

.fi.chains.link-icon {
  display: none;
}

.button-text {
  font-weight: 400;
}

a[href="https://localhost/link/?messenger=telegram"] .button-text, .txt--weight {
  text-decoration: none;
}

html[lang="ru"] #app-landbot .lb-input-menu .lb-input-menu_button.image .lb-input-menu_button_text {
  max-width: 110px;
}

a.page_content:hover {
  text-decoration: none;
  transition: all 0.3s ease-out;
}

@media screen and (min-width: 425px) {
  #lb-footer-input-fixed .lb-input-container, #lb-message-input .lb-input-container {
    margin: 0 20px 0 44px;
  }
  #lb-footer-input-fixed, .lb-messages-wrapper {
    max-width: 550px;
  }
}

@media screen and (max-width: 769px) {
  html, body {
    min-height: 100%;
    width: 100%;
    overflow: scroll;
  }
  .main-page {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
  }
  #gui {
    padding-top: 60px;
    padding-bottom: 75px;
  }
  #app-landbot {
    position: relative;
    height: calc(100% - 147px);
  }
  #app-landbot, #app-modules, #gui, #lb-body, #lb-messenger, #lb-messages-container, #lb-messages-container .lb-messages-wrapper {
    -webkit-overflow-scrolling: touch;
  }
  .lb-message-text {
    font-size: 13px;
    text-decoration: none;
  }
  #lb-footer-input-fixed .lb-input-container, #lb-message-input .lb-input-container {
    margin: 0 0 81px;
  }
  .lb-input-menu-buttons {
    flex-wrap: nowrap;
  }
  #lb-message-input .left-arrow {
    opacity: 1;
    display: block;
    transform: rotate(-360deg) scale(1) translateY(0px);
    transition: none;
  }
  #lb-message-input .back-text {
    opacity: 1;
    transform: translateY(0);
  }
  .landing__txt {
    font-size: 12px;
  }
  #lb-footer-input-fixed .lb-input-box, #lb-message-input .lb-input-box {
    padding-bottom: 100px;
    justify-content: space-around;
  }
  #lb-messages-container {
    margin-top: 0;
    align-items: flex-start;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .landing__header {
    height: 60px;
    background-color: white;
  }
  .landing__header .wrap {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .banner.landing__txt {
    display: inline-block;
    width: 79%;
    font-size: 12px;
    letter-spacing: -0.3px;
  }
  .banner .landing__link {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0;
  }
  .logo {
    width: 140px;
    height: 40px;
  }
  .wrap--right {
    min-width: 50px;
  }
  .lb-message-info {
    display: none;
    margin-right: 0;
  }
  #lb-footer {
    height: 14vh;
  }
  .lb-input-body {
    margin-left: 60px;
  }
  #app-landbot .lb-input-header:empty+.lb-input-body {
    margin-left: 0;
  }
  #lb-message-input .lb-input-back {
    left: 0;
  }
  html[lang="ru"] .banner.landing__txt {
    width: 300px;
  }
  html[lang="ru"] .external-nav {
    width: 200px;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  #lb-footer-input-fixed .lb-input-container, #lb-message-input .lb-input-container {
    margin: 0 30px;
  }
  .button-text {
    font-size: 12px;
  }
  .lb-input-menu-buttons {
    flex-wrap: wrap;
    padding-top: 25px;
  }
  .lb-input-menu_help.lb-input-menu-info {
    display: none;
  }
  .lb-input-menu_button {
    padding: 13px;
  }
  #lb-footer-input-fixed .lb-input-container, #lb-message-input .lb-input-container {
    margin: 0 10px;
  }
  #lb-message-input.enabled .lb-input-back {
    display: block;
    top: 25px;
  }
  #lb-message-input .lb-input-menu-buttons .lb-input-menu_button {
    padding: 5px;
    min-height: 35px;
  }
  .lb-message.user .lb-message-bubble {
    padding: 15px 20px;
  }
  #app-landbot .lb-input-menu .lb-input-menu_button.image .lb-input-menu_button_text {
    padding: 0 5px 0;
  }
  #app-landbot .lb-input-menu_button {
    width: calc(33% - 6px);
    min-width: 110px;
  }
  #app-landbot .lb-input-body {
    margin-left: 45px;
  }
  #app-landbot #lb-footer-input-fixed, .lb-messages-wrapper {
    width: 95%;
  }
}

@media screen and (max-width: 550px) {
  .landing__txt {
    font-size: 12px;
  }
}

/* end */

.lb-textarea-input-container.focus {
  box-shadow: 0px 0px 14px 1px #835af1;
}

#lb-header {
  border: none;
  box-shadow: none;
  height: 45px;
  min-height: 45px;
}

.lb-persistent-menu a {
  border-radius: 100px!important;
  /*  text-transform: uppercase;*/
  padding: 10px 20px 13px;
}

@media screen and (min-width: 699px) {
  body {
    background: #030156;
  }
  #lb-header {
    margin-top: 0px;
  }
  #lb-background {
    position: fixed;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    top: 10px;
    left: 10px;
    overflow: hidden;
    border-radius: 0px;
  }
}

.lb-message.brand .lb-message-bubble {
  border-radius: 20px;
}

.lb-input-menu-buttons .lb-input-menu_button {
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
}

#lb-header .lb-header-brand_name {
  letter-spacing: 0px;
  font-size: 15px;
}

.lb-header-description {
  margin-top: 3px;
}

#lb-header .lb-header-logo {
  max-height: 30px;
}

.lb-message-bubble {
  border-radius: 25px;
}

.lb-input-menu .include-image-container .include-image {
  background-size: 85px;
  background-repeat: no-repeat;
  background-position: 50% 15px;
}

.lb-color_bot-message-text {
  color: rgb(74, 74, 74);
}

.lb-color_button-text, .lb-input-multi_button.active .button-text, #lb-footer-input-mobile .keyword-button, .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  color: rgb(255, 255, 255);
}

.lb-color_contrast {
  color: rgb(3, 1, 86);
}

.lb-color_user-message-text {
  color: rgb(255, 255, 255);
}